div.popup-gallery {
    text-align: center;
    margin-bottom: 40px;
}

div.image-wrap {
    width: 18%; /* Change this value to have your thumbnails laid out differently */
    margin-bottom: 4px;
    display: inline-block;
}

div.image-wrap img {
    width: 100%;
}

a.lightbox-link {
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

a.lightbox-link:hover {
    -webkit-opacity: 0.8;
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.image-wrap figcaption {
    display: none;
}

.mfp-bg figcaption {
    display: block;
    position: absolute;
}

.lb-title {
    margin: 0.5em 0 0 0.5em;
}

.lb-description {
    margin-left: 0.6em;
    width: 100%;
}
