div.site-title {
	@include span-columns(4);
	@include shift(1);
}


.site-branding {

	.site-title {
		font-family: $title;
		padding: 40px 0px;



		@include media($sm) {
			@include fontSize(35px);
		}
		@include media($smbg) {
			@include fontSize(40px);
		}
		@include media($md) {
			@include fontSize(45px);
		}

		a,a:visited {
			line-height: 1;
		}

	}

	.site-description {
		padding: 25px 0;
		@include fontSize(20px);

		@include media($sm) {
			@include fontSize(15px);
		}
		@include media($smbg) {
			@include fontSize(18px);
		}
		@include media($md) {
			@include fontSize(25px);
		}
		font-family: $title;
		font-style: italic;
	}
}


// remove title from home page

article#post-25 header.entry-header {
	display: none;
}